body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #0D2C54;
  background-color: #7FB800
}
 h1, h2{
   font-family: 'Shojumaru', cursive;
   text-align: center;
   font-size: 3em;
 }

 h1 {
   color: #FFB400;
 }

 h2 {
   color: #0D2C54;
 }

nav {
  display: flex;
  justify-content: center;
}
nav ul {
  list-style: none;
  text-align: center;
  display: flex;
}

nav ul li {
  flex-direction: row;
  padding: 0 15px;
}
.hero-img {
  background-image: url('../img/hero.jpg');
  height: 700px;
}

.mid-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mid-content-box {
  display: flex;
  flex-direction: column;
}

.mid-content-box ul {
  list-style: none;
  padding: 0;
}

.mid-content-box ul li {
  list-style: none;
  padding: 0;
  text-align: center;
}

.mid-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
